{% extends 'base.html.twig' %}

{% block title %}Users Administration{% endblock %}

{% block body %}
{% include "_partial/_nav.html.twig" %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 style="margin-top:30px;">Edit Products</h1>
                {% include "admin/users/_form.html.twig" with {'button_label':'Edit'} %}
            </div>
        </section>
    </main>
    {% include "_partial/_flash.html.twig" %}
{% endblock %}