<h1>Activate your account</h1>
<p>Bonjour {{user.firstname}},</p>
<p>Validate your sign up by clicking in the link below:</p>
<p><a href="#">Link</a></p>
<p>This link will be expired after 3 hour!!</p>