{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
{{parent()}}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Page Not Found!!</h1>
            <p>Welcome to our shop!</p>
        </div>
    </section>
</main>

{% endblock %}