<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Categories
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_categories_index')}}">Categories List</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Products
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_products_index')}}">Products List</a></p>
            <p><a href="{{path('admin_products_add')}}">Add Products</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Users
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_users_index')}}">Users List</a></p>
        </div>
    </article>
</aside>