<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">Column1</section>
        <section class="col">Column1</section>
        <section class="col">Column1</section>
    </div>
    
</footer>